<div class="govuk-form-group{% if errors %} govuk-form-group--error{% endif %}">
    <fieldset class="govuk-fieldset"
              {% if hint or errors %}
              aria-describedby="{% if hint %}{{ name }}-hint{% endif %}{% if hint and errors %} {% endif %}{% if errors %}{{ name }}-error{% endif %}"
              {% endif %}>
        {% if legend %}
        <legend class="{{ legend_class }}">
            {{ legend|escape }}
        </legend>
        {% endif %}
        {% if hint %}
        <div id="{{ name }}-hint" class="govuk-hint">
            {{ hint|escape }}
        </div>
        {% endif %}
        {% component "plos_error_summary" entries=errors compact="True" %}{% endcomponent %}
        <div class="govuk-radios" data-module="govuk-radios">
            {% for option in radio_selection_options %}
                {# generate unique option ids: "fieldname-1" ... "fieldname-N" #}
                {% with option_id=name|add:"-"|add:forloop.counter|stringformat:"s" %}
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input"
                        id="{{ option_id }}"
                        name="{{ name }}"
                        type="radio"
                        value="{{ option.value }}"
                        {% if option.checked %} checked{% endif %}>
                        <label class="govuk-label govuk-radios__label"
                            for="{{ option_id }}">
                            {{ option.content }}
                        </label>
                        {% if option.hint %}
                            <div id="{{ option_id }}-hint" class="govuk-hint govuk-radios__hint">
                                {{ option.hint|escape }}
                            </div>
                        {% endif %}
                    </div>
                {% endwith %}
            {% endfor %}
        </div>
    </fieldset>
</div>
