{% load component_tags %}
<fieldset {% html_attrs attrs %}>
    <legend>
        {% if label %}
            <p class="multi-selection-label">{{ label }}</p>
        {% endif %}
        {% if help_text %}
            <p class="help-text">{{ help_text }}</p>
        {% endif %}
        {% if errors %}
            <div class="errors-container">
                {% for error in errors %}
                    <small class="error">{{ error|escape }}</small><br>
                {% endfor %}
            </div>
        {% endif %}
    </legend>
    {% for option in multi_selection_options %}
        <div class="multi-option">
            <input type="checkbox"
                   id="id_{{ name }}_{{ forloop.counter }}"
                   name="{{ name }}"
                   value="{{ option.value }}"
                   {% if option.checked %}checked{% endif %}
                   {% if required %}required{% endif %}
                   {% if errors %}class="error"{% endif %}>
            <label for="id_{{ name }}_{{ forloop.counter }}">
                {{ option.content }}
            </label>
        </div>
    {% endfor %}
</fieldset>