<div class="row expanded{% if errors %} error{% endif %}">
    <div class="large-12 columns">
        <label for="{{ id }}">
            {{ label }}
            {% if required %}<span class="red">*</span>{% endif %}
        </label>
        <input type="password"
               id="{{ id }}"
               name="{{ name }}"
               {% if disabled %}disabled{% endif %}
               {% if value %}value="{{ value }}"{% endif %}
               {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}
               {% if required %}required{% endif %}
               {% if maxlength %}maxlength={{ maxlength }}{% endif %}
               {% if minlength %}minlength={{ minlength }}{% endif %}>
        {% if help_text %}
            <p class="help-text">{{ help_text }}</p>
        {% endif %}
        {% for error in errors %}
            <small class="error">{{ error|escape }}</small>
        {% endfor %}
    </div>
</div>
