{% extends "design_system/base.html" %}

{% block ds_title %}Check Answers – PLOS Design System{% endblock ds_title %}

{% block ds_content %}
    {% component "plos_heading" level=1 %}
        Check Answers
    {% endcomponent %}

    {% component "plos_check_answers" legend="Examples" sections=[{"label": "Personal details", "label_level": 3,
    "answers": [
    {"label": "Name", "answers": ["Sarah Philips"]},
    {"label": "Date of birth", "answers": ["5 January 1978"], "actions": [{'name': "Change",'url': "#"}]},
    {"label": "Customer reference", "answers": ["Not provided"], "actions": [{'name': "Change",'url': "#"}]},
    {"label": "Address", "answers": ["72 Guild Street", "London", "SE23 6FH"], "actions": [{'name': "Change",'url': "#"}]},
    {"label": "Contact details", "answers": ["07700 900457", "sarah.phillips@example.com"], "actions": [{'name': "Change",'url': "#"}, {'name': "Add",'url': "#"}]},
    ]},
    {"label": "Application details", "label_level": 3,
    "answers": [
    {"label": "Previous application number", "answers": ["502135326"], "actions": [{'name': "Change",'url': "#"}]},
    {"label": "Licence type", "answers": ["For personal use"], "actions": [{'name': "Change",'url': "#"}]},
    {"label": "Home address", "answers": ["72 Guild Street", "London", "SE23 6FH"], "actions": [{'name': "Change",'url': "#"}]},
    ],
    }] %}
    {% endcomponent %}
{% endblock ds_content %}
