{% load component_tags %}
{% load ds_filters %}
{% component "plos_item_list" name="patents" item_label="patent" count=count max_items=10 htmx_url=htmx_url errors=errors %}
  {% fill "item" data="slot_data" %}
    {% component "plos_text_input"
      label="Patent number"
      name="patent_{{ slot_data.index }}"
      field_id="patent_{{ slot_data.index }}"
      value=patent_values|plos_list_fetch:slot_data.index
      errors=slot_data.errors|plos_dictionary_fetch:"patent"|plos_as_list
    %}{% endcomponent %}
  {% endfill %}
{% endcomponent %}
