<div class="govuk-form-group{% if errors %} govuk-form-group--error{% endif %}">
    <fieldset class="govuk-fieldset" role="group"
            {% if hint or errors %}
              aria-describedby="{% if hint %}{{ field_id }}-hint{% endif %}{% if hint and errors %} {% endif %}{% if errors %}{{ field_id }}-error{% endif %}"
            {% endif %}>
        <legend id="{{ field_id }}-legend"
                class="{{ legend_class }}">
            {{ legend|escape }}
        </legend>
        {% if hint %}
            <div id="{{ field_id }}-hint" class="govuk-hint">
                {{ hint|escape }}
            </div>
        {% endif %}
        {% component "plos_error_summary" entries=errors compact="True" %}{% endcomponent %}
        <div class="govuk-date-input" id="{{ field_id }}">
            {% if date_settings is not none and date_settings.day is not none and date_settings.day.display %}
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        {% if date_settings.day.label is not none %}
                            <label class="govuk-label govuk-date-input__label" for="{{ date_settings.day.field_id }}">
                                {{ date_settings.day.label|escape }}
                            </label>
                        {% endif %}
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                               id="{{ date_settings.day.field_id }}"
                               name="{{ date_settings.day.field_name }}"
                               type="number"
                               inputmode="numeric"
                               {% if value_day is not none %}value="{{ value_day }}"{% endif %}>
                    </div>
                </div>
            {% endif %}
            {% if date_settings is not none and date_settings.month is not none and date_settings.month.display %}
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        {% if date_settings.month.label is not none %}
                            <label class="govuk-label govuk-date-input__label" for="{{ date_settings.month.field_id }}">
                                {{ date_settings.month.label|escape }}
                            </label>
                        {% endif %}
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                               id="{{ date_settings.month.field_id }}"
                               name="{{ date_settings.month.field_name }}"
                               type="number"
                               inputmode="numeric"
                               {% if value_month is not none %}value="{{ value_month }}"{% endif %}>
                    </div>
                </div>
            {% endif %}
            {% if date_settings is not none and date_settings.year is not none and date_settings.year.display %}
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        {% if date_settings.year.label is not none %}
                            <label class="govuk-label govuk-date-input__label" for="{{ date_settings.year.field_id }}">
                                {{ date_settings.year.label|escape }}
                            </label>
                        {% endif %}
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                               id="{{ date_settings.year.field_id }}"
                               name="{{ date_settings.year.field_name }}"
                               type="number"
                               inputmode="numeric"
                               {% if value_year is not none %}value="{{ value_year }}"{% endif %}>
                    </div>
                </div>
            {% endif %}
        </div>
    </fieldset>
</div>
