{% load component_tags %}
<div class="plos-add-more__item" data-item-index="{{ index }}" id="{{ field_name }}-item-{{ index }}">
  {% component "plos_heading" level=heading_level %}{{ item_label|title }} {{ display_index }}{% endcomponent %}

  {% slot "item_content" index=index errors=errors value=value is_first=is_first %}{% endslot %}

    {% if show_delete %}
        {% component "plos_button"
                field_name="{{ field_name }}__action"
                value="delete__{{ index }}"
                form_action="{{ htmx_url }}"
                button_type="submit"
                action="warning"
                hx_post="{{ htmx_url }}"
                hx_target="#{{ field_name }}-add-more"
                hx_select="#{{ field_name }}-add-more"
                hx_swap="outerHTML"
                hx_include="#{{ field_name }}-add-more" %}
            {{ delete_label }} {{ item_label }} {{ display_index }}
        {% endcomponent %}
  {% endif %}
</div>
