<ul class="govuk-task-list" id="{{ id }}">
    {% for item in task_list_items %}
        <li id="{{ id }}-item-{{ forloop.counter }}"
            class="govuk-task-list__item{% if item.url %} govuk-task-list__item--with-link{% endif %}{% if item.attrs.class %} {{ item.attrs.class }}{% endif %}"
            {% if item.attrs %}
                {% for key, value in item.attrs.items %}
                    {% if key != "class" %}
                        {{ key }}="{{ value }}"
                    {% endif %}
                {% endfor %}
            {% endif %}>
            <div class="govuk-task-list__name-and-hint">
                {% if item.url %}
                <a class="govuk-link govuk-task-list__link" href="{{ item.url }}" aria-describedby="{{ id }}-item-{{ forloop.counter }}-status">
                    {{ item.label }}
                </a>
                {% else %}
                <span aria-describedby="{{ id }}-item-{{ forloop.counter }}-status">
                    {{ item.label }}
                </span>
                {% endif %}
            </div>
            <div class="govuk-task-list__status" id="{{ id }}-item-{{ forloop.counter }}-status">
                {% component "plos_tag" color="{{ item.color }}"%}
                    {{ item.status }}
                {% endcomponent %}
            </div>
        </li>
    {% endfor %}
</ul>
