{% extends "design_system/base.html" %}

{% block ds_title %}Checkboxes – PLOS Design System{% endblock ds_title %}

{% block ds_content %}
  {% component "plos_error_summary" entries=[{"label": "Example", "anchor": "example_error-form-group", "message":"Please select a checkbox"}] %}{% endcomponent %}
  <h1 class="govuk-heading-xl">Checkboxes</h1>
  {% component "plos_checkboxes" name="example" legend="Example checkboxes:" %}
    {% component "plos_checkboxes_option" value="example1" %} Example 1 {% endcomponent %}
    {% component "plos_checkboxes_option" value="example2" %} Example 2 {% endcomponent %}
  {% endcomponent %}

  {% component "plos_checkboxes"
    name="example_exclusive"
    legend="Example checkboxes with an option for ‘none’:"
    hint="To enable some JavaScript that unchecks all other checkboxes when the user clicks ‘None’, add `exclusive=True` to one of the options." %}
    {% component "plos_checkboxes_option" value="example_exclusive1" %} Example 1 {% endcomponent %}
    {% component "plos_checkboxes_option" value="example_exclusive2" %} Example 2 {% endcomponent %}
    {% component "plos_checkboxes_option" value="example_exclusive3" exclusive=True %} None of the above {% endcomponent %}
  {% endcomponent %}

  {% component "plos_checkboxes"
    errors=[{"label": "Example", "anchor": "example_error-form-group", "message":"Please select at least one of the options, or select ‘None of the above’"}]
    name="example_error"
    legend="Example checkboxes with error:"
    hint="If JavaScript is unavailable, and a user selects both the ‘none’ checkbox and another checkbox, display an error message."%}
    {% component "plos_checkboxes_option" value="example_error1" checked=True %} Example 1 {% endcomponent %}
    {% component "plos_checkboxes_option" value="example_error2" %} Example 2 {% endcomponent %}
    {% component "plos_checkboxes_option" value="example_error3" checked=True exclusive=True %} None of the above {% endcomponent %}
  {% endcomponent %}
{% endblock ds_content %}
