{#
  Template for testing TextInput error states and association with ErrorSummary.
  Used by: django-components/tests/playwright/component_tests/text_input/test_text_input_scenarios.py
#}
{% extends "plos_submission_manager/base.html" %}

{% block title %}Text Input Errors Test{% endblock %}

{% block content %}
    <h1 class="govuk-heading-xl">Text Input Error States</h1>

    {% component "plos_error_summary" entries=field_errors %}{% endcomponent %}

    <div id="error-scenarios">
        {% component "plos_text_input" label='Email address' name="email" field_id="id_email" errors=errors %}{% endcomponent %}
    </div>
{% endblock content %}
